Source: audience
Section: video
Priority: optional
Maintainer: Cody Garver <codygarver@gmail.com>
Build-Depends: cmake (>= 2.8),
               debhelper (>= 9),
               intltool,
               libclutter-gst-3.0-dev,
               libclutter-gtk-1.0-dev,
               libgranite-dev,
               libgstreamer-plugins-base1.0-dev,
               libgstreamer1.0-dev,
               libgtk-3-dev,
               valac (>= 0.28.0)
Standards-Version: 3.9.5
Homepage: https://launchpad.net/audience
Vcs-Bzr: lp:audience
Vcs-Browser: https://code.launchpad.net/~audience-team/audience/trunk

Package: audience
Architecture: any
Depends: xdg-utils, ${misc:Depends}, ${shlibs:Depends}
Description: A modern media player
 Audience is a simple, modern media player that makes greater use of
 hardware acceleration than most players out there.

Package: audience-dbg
Architecture: any
Section: debug
Priority: extra
Depends: audience (= ${binary:Version}), ${misc:Depends}
Enhances: audience
Description: A modern media player (debugging symbols)
 Audience is a simple, modern media player that makes greater use of
 hardware acceleration than most players out there.
 .
 This package contains debugging symbols for audience.
