Source: io.elementary.videos
Section: video
Priority: optional
Maintainer: elementary, Inc. <builds@elementary.io>
Build-Depends: debhelper (>= 10.5.1)
Standards-Version: 4.1.1
Homepage: https://github.com/elementary/videos

Package: io.elementary.videos
Architecture: any
Depends: flatpak, ${misc:Depends}
Breaks: audience
Replaces: audience
Description: Video player
 A simple, modern video player.

Package: audience
Architecture: any
Depends: io.elementary.videos, ${misc:Depends}
Section: oldlibs
Priority: optional
Description: transitional dummy package
    This is a transitional dummy package. It can safely be removed.
