mediacontrols {
    padding: 1em;
}

mediacontrols > label {
    color: white;
    text-shadow:
        0 1px 3px alpha(black, 0.4),
        0 0 1em alpha(black, 0.25);
}

mediacontrols {
    background-image: linear-gradient(
        to bottom,
        transparent,
        alpha(black, 0.1) 1.5em
    );
    border-spacing: 0.5em;
    font-weight: bold;
}

mediacontrols > button,
mediacontrols > menubutton > button {
    color: white;
    -gtk-icon-shadow:
        0 1px 3px alpha(black, 0.4),
        0 0 1em alpha(black, 0.25);
}

mediacontrols > label {
    font-variant-numeric: tabular-nums;
}

mediacontrols scale trough {
    background-color: alpha(white, 0.25);
    border: none;
    box-shadow: 0 0 1em alpha(black, 0.05);
}

mediacontrols scale highlight {
    background-color: white;
    box-shadow: 0 1px 3px alpha(black, 0.1);
}

mediacontrols scale slider {
    background: transparent;
    box-shadow: none;
    min-width: 3px;
    transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

mediacontrols scale:hover slider {
    background-color: white;
    box-shadow: 0 1px 3px alpha(black, 0.25);
}

popover.preview contents {
    background: black;
    border: none;
    box-shadow:
        0 0 0 1px alpha(black, 0.05),
        0 3px 4px alpha(black, 0.15),
        0 3px 3px -3px alpha(black, 0.35);
    margin: 0.5em 1em;
}
